

manifest {
    authors = 'Lauren Martin and David Twesigomwe'
    description = 'Pipeline assembles fragmented amplicon into full-length 16S rRNA gene'
    mainScript = 'main.nf'
    version = '0.0.1-dev'
}


params {
 // User-defined parameters

   //reference database
     ref_db = "/path/to/matam/database/SILVA_128_SSURef_NR95.clustered.fasta"

   // reference database for taxonomic assignment
     ref_tax_db = "/path/to/silva_nr99_v138.1_wSpecies_train_set.fa.gz"

   // Path to input reads
    in_fastq = "/path/to/fastq_gz_files/*{R1,R2}*" 

   // Output directory
      out_dir = "$PWD/results"

    // Path to scripts
    scripts = "$PWD/scripts"

}

singularity  {
     enabled = true
     autoMounts = true
     cacheDir = "$PWD/containers"
     runOptions = " --cleanenv"
}

process  {

    // ALL PROCESSES
    cpus = 5
    memory = 64.GB
    cache = true
    stageInMode = 'symlink'
    stageOutMode = 'rsync'
    // scratch = "$HOME/tmp" 

    // Containers

    // Singularity
    //container = "$PWD/containers/bowtie2.sif"
    

    withLabel:  'fastqc'  {
    container = "$PWD/containers/fastqc.sif"
    }

    withLabel:  'trimgalore'  {
    container = "$PWD/containers/trim-galore.sif"
    }

    withLabel:  'matam'  {
    container = "$PWD/containers/matam.sif"
    cpus = 32
    memory = 200.GB
    }

    withLabel:  'dada2_tax' {
    container = "$PWD/containers/dada2_test.sif"
    }

    withLabel:  'merge_files' {
    cpus = 1
    memory = 2.GB
    }

}


profiles  {

     // Local machine (MacOS, Linux, cluster node etc)
       standard  {
            process.executor = 'local'
       }

     // SLURM scheduler
     slurm  {
          process.executor = 'slurm'
          process.queue = 'Main' // customise to queue option on your cluster
       }
}



